
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
}

nav a {

}

nav a:hover {
  color: #ffd700;
}

section {
  min-height: 100vh;
  padding: 100px 20px 60px;
}

.home {
  color: rgb(20, 19, 19);
}

.about {
  background-color: #f9f9f9;
}

.services {
  background-color: #e1f5fe;
}

.contact {
  background-color: #fce4ec;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  max-width: 600px;
}
