#position{
  font-size: 18px;
  font-weight: bold;
}
header{
  font-family:  'Georgia ';
  font-weight: bold;
  text-align:center;
  background-color: #F6D8B9;
  padding-top: 2px;
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40%;
}
.profile{
  padding-top: 1%;
}
.profile img {
  float: center;
  transition: transform 1s ease; 
}
.profile img:hover {
  transform: scale(1.3);
}
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #147C8C;
}
